/* artist.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('artist.jpg'); /* Replace 'your-background-image.jpg' with your actual image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #1e1c1cee;
    display: flex;
    flex-direction: column; /* Display flex container as column */
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

h2 {
    color: #f2eeee;
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for separation */
    font-size: 2.5rem;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 400px; /* Adjust the width as needed */
    background-color: rgb(74, 79, 91); /* Adjust background color as needed */
    color: #fff;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(109, 119, 143); /* Adjust hover background color as needed */
}

a.logout {
    width: 200px; /* Adjust the width as needed */
    background-color: #f44336; /* Adjust logout button background color as needed */
}

a.logout:hover {
    background-color: #d32f2f; /* Adjust logout button hover background color as needed */
}

/* Add more styles as needed */
